<!DOCTYPE html>
<html>
<head>
  <title>NAVISTA</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      overflow: hidden; /* Oculta a barra de rolagem */
    }
    .search-container {
      position: absolute;
      top: 20px;
      left: 20px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 1; /* Garante que o popup fique sobre o mapa */
    }
    .search-container input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px; 
      width: 300px; /* Largura fixa para o campo de entrada */
    }
    .search-container button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #2a6a7c;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px;
    }
    .search-container button:hover {
      background-color: #1d4955;
    }
    #map {
      width: 100vw; /* Ocupa toda a largura da tela */
      height: 100vh; /* Ocupa toda a altura da tela */
    }
    img {
      padding: 0;
      margin: 0;
    }
  </style>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <div class="search-container">
    <img src="https://i.pinimg.com/736x/0c/69/e8/0c69e8197ae956eef58aee2509891e2c.jpg" width=100 height=100>      
    <form id="geocodingForm" method="post" action="/search">
      <input type="text" id="inputField" name="input" placeholder="Digite um CEP ou endereço">
      <button type="submit">Buscar</button>
    </form>
    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
  </div>
  <div id="map"></div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW1hbmRpdGEiLCJhIjoiY2x5eWJzdGl4MGhmYzJrcHJuYnY1ZTM3aCJ9.IsaeTvf1a7HSHMV2i3obQQ';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-55.0, -15.0], // Coordenadas iniciais
      zoom: 4
    });
  </script>
</body>
</html>
