<!DOCTYPE html>
<html>
<head>
  <title>Resultado da Geocodificação</title>
  <style>
    #map {
      width: 100vw;
      height: 100vh;
    }
  </style>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <div id="map"></div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
  <script>
    const longitude = '<%= longitude %>';
    const latitude = '<%= latitude %>';

    mapboxgl.accessToken = 'pk.eyJ1IjoiYW1hbmRpdGEiLCJhIjoiY2x5eWJzdGl4MGhmYzJrcHJuYnY1ZTM3aCJ9.IsaeTvf1a7HSHMV2i3obQQ';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [longitude, latitude], // Coordenadas da localização encontrada
      zoom: 14
    });

    new mapboxgl.Marker()
      .setLngLat([longitude, latitude])
      .addTo(map);
  </script>
</body>
</html>
