<!DOCTYPE html>
<html>
<head>
  <title>Resultado da Geocodificação</title>
  <style>
    #map {
      width: 100vw;
      height: 100vh;
    }
  </style>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<<<<<<< HEAD
  <div id="map"></div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
  <script>
    const longitude = '<%= longitude %>';
    const latitude = '<%= latitude %>';
//=======
    /*<div class="search-container">
        <img src="logo1Navista.png" alt="Logo">
        <form id="geocodingForm">
            <input type="text" id="inputField" placeholder="Digite um CEP ou Endereço">
            <button type="submit"> Buscar </button>
        </form>
    </div>
    <h1>oiiieee</h1>
    <div id="result">
        Cidade: <span id="cidade">Dados não disponíveis</span><br>
        Bairro: <span id="bairro">Dados não disponíveis</span><br>
        IBGE: <span id="ibge">Dados não disponíveis</span>
    </div>
    <div id="map"></div>
    
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYW1hbmRpdGEiLCJhIjoiY2x5eWJzdGl4MGhmYzJrcHJuYnY1ZTM3aCJ9.IsaeTvf1a7HSHMV2i3obQQ';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-55.0, -15.0], // Coordenadas iniciais
            zoom: 2.2
        });
>>>>>>> 4530e219b11f5ae28afec23ed1aaac1076dd4e97

    mapboxgl.accessToken = 'pk.eyJ1IjoiYW1hbmRpdGEiLCJhIjoiY2x5eWJzdGl4MGhmYzJrcHJuYnY1ZTM3aCJ9.IsaeTvf1a7HSHMV2i3obQQ';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [longitude, latitude], // Coordenadas da localização encontrada
      zoom: 14
    });

    new mapboxgl.Marker()
      .setLngLat([longitude, latitude])
      .addTo(map);
  </script>
</body>
</html>
